:root {
    --rotate-deg: 0
}

body {
    margin: 0;
    overflow: hidden;
}

#ui {
    font-family: 'Titan One', cursive;
    width: 400px;
    height: 300px;
    position: absolute;
    padding: 10px;
    background-color: #a7d966c8;
    border: 10px solid #43A367;
    border-radius: 40px;
    color: #385380;
    box-sizing: border-box;
    text-align: center;
}

.uiStart {
    top: calc(50% - 150px);
    left: calc(50% - 200px);
}

.uiGame {
    display: none;
}

#players {
    top: 5px;
    left: 5px;
    font-family: 'Titan One', cursive;
    width: 200px;
    height: 150px;
    position: absolute;
    padding: 9px;
    background-color: #a7d966c8;
    border: 5px solid #43A367;
    border-radius: 20px;
    font-size: 18px;
    color: #385380;
    box-sizing: border-box;
    text-align: center;
    line-height: 0.8;
}

#logIn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info {
    margin-top: 6px;
    font-size: 40px;
    margin-bottom: 40px;
}

#nickInput {
    margin-left: 20px;
}

#label1 {
    display: flex;
    align-items: center;
    font-size: 24px;
}

#nickInput {
    height: 30px;
    font-family: 'Titan One', cursive;
    background-color: #C6F1A2;
    color: #385380;
    border-radius: 5px;
}

#submit, #reset {
    width: 160px;
    font-family: 'Titan One', cursive;
    height: 27px;
    background-color: #C6F1A2;
    border-radius: 5px;
}

#submit {
    margin-top: 46px;
}

#reset {
    margin-top: 11px;
}

#submit:hover, #reset:hover {
    background-color: #385380;
    transition: .3s;
    color: #C6F1A2;
}

#smallTable {
    font-size: 30px;
    letter-spacing: 0;
    position: absolute;
    pointer-events: none;
    /* width: 100px; */
    /* height: 100px; */
    bottom: 0;
    left: 0;
    padding: 15px;
    text-align: center;
    vertical-align: center;
    transform: rotate(var(--rotate-deg));
    border-collapse: collapse;
}

#smallTable td {
    width:50px;
    height:50px;
    border: 1px solid black;
    transform: rotate(calc(var(--rotate-deg) * -1));
}

#smallTable tr:nth-child(4) td:nth-child(4) {
    background-color: red;
    border-radius: 25px;
}

img {
    position: absolute;
    left: 49vw;
    top: 49vh;
    width: 2vh;
    height: 2vh;
    margin: 0 calc(1vw - 1vh);
}

#lockGame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(250, 235, 215, 0.3);
}

#playerIcon{
    width:10px;
    height:10px;
    left:50px;
    top:50px;
    background-color: red;
    position: absolute;
    display: none;
}
#detector{
    position: absolute;
    left: -150px;
    width:800px;
    height:1000px;
    display: none;
    opacity: 0;
}